.productstitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.white {
background-image: linear-gradient(to bottom, #32ff7e, #fffa65);

}


.bg-green {
  background-image: linear-gradient(to bottom, #32ff7e, #7d5fff);
}

.bg-green-reverse {
  background-image: linear-gradient(to bottom, #7d5fff, #32ff7e);
}

.bg-indigo {
  background-color: #7d5fff;

}

.bg-weirdgreen {
  background-color: #3ae374;
}

.bg-yellow {
  background-color: #fffa65;
}

.green {
 background-image: radial-gradient(#32ff7e, #fffa65);


}

.indigo {
 background-image: radial-gradient(#32ff7e, #fffa65);
}

.yellow {
    background-image: linear-gradient(to bottom, #fffa65, #32ff7e);
}

.benefitsTitle {
  text-align: center;
  margin-bottom: 6%;
  margin-top: 5%;
}

.communityText {
  margin-top: 20%;
}

.counterTitle {
  text-align: center;

}

.counterBlocks {
  margin-bottom: -7%;
}

.counterText {
  text-align: center;

}

.shadow3d {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featureImage {
  margin-top: 3%;
}

.partnerLogos {
  margin-bottom: 3%;
}

.joinButton {
margin-bottom: -9%;
}

.frakButton {
  margin-top: 5%;
}

.counterBlocks {
  margin-top: -10%;
}

.aboutTitle {
  margin-top: -17%;
}

.topimg {
height: 120%;
width: 120%;
}

/*Landing Section*/
.landing {
  margin-top: -5%;
}

h1.slogan {
  margin-bottom: 5%;
  font-family: 'Assistant';
  font-weight: 700;
}


.btn.btn-primary.landingbutton {
  height: 100%;
  width: 20rem;
  font-size: 30px;
  font-family: 'Assistant';


}


.btn.btn-primary.learnbutton {
  height: 100%;
  width: 12rem;
  font-size: 22px;
  font-family: 'Assistant';


}


.btn.btn-primary.communitybutton {
  height: 100%;
  width: 12rem;
  font-size: 22px;
  font-family: 'Assistant';

}

.footerIcon {
  align-items: center;
  height: 45px;
  width: 45px;

}


.footerIconMiddle {
    margin-left: 3%;
}

.footerSimple {
  margin-bottom: -10%;
  height: 20rem;
/* background-image: linear-gradient(to bottom, #32ff7e, #fffa65);
  color: #7158e2; */

}

.title.socialtitle {
  z-index: 1;
}

.img-fluid.bgmage {
  height: 100px;
}

.job-box {
  height: 23rem;
}

.eventblock {
  margin-top: -10%;
}

.blogblock {
  margin-top: -10%;
  margin-bottom: -5%;
}


.bg-overlay.bg-overlay-gradient2.bg-footer {
  width: 200%;
  margin-left: -100px;
}

.blogbox {
  height: 27rem;
}
