
.benefitsTitle {
  text-align: center;
  margin-bottom: 6%;
}

.counterTitle {
  text-align: center;

}

.counterBlocks {
  margin-bottom: -7%;
}

.counterText {
  text-align: center;

}

.featureImage {
  margin-top: 3%;
}

.partnerLogos {
  margin-bottom: 3%;
}

.joinButton {
margin-bottom: -9%;
}

.frakButton {
  margin-top: 5%;
}

.counterBlocks {
  margin-top: -10%;
}

.counterDesc {
  margin-top:
}

.section-title {
  margin-top: 15%;
}
