

.benefitsTitle {
  text-align: center;
  margin-bottom: 6%;
  margin-top: 5%;
}

.communityText {
  margin-top: 20%;
}

.counterTitle {
  text-align: center;

}

.counterBlocks {
  margin-bottom: -7%;
}

.counterText {
  text-align: center;

}

.featureImage {
  margin-top: 3%;
}

.partnerLogos {
  margin-bottom: 3%;
}

.joinButton {
margin-bottom: -9%;
}

.frakButton {
  margin-top: 5%;
}

.counterBlocks {
  margin-top: -10%;
}

.aboutTitle {
  margin-top: -17%;
}

.topimg {
height: 120%;
width: 120%;
}

/*Landing Section*/
.landing {
  margin-top: -5%;
}

h1.slogan {
  margin-bottom: 5%;
  font-family: 'Assistant';
  font-weight: 700;
}


.btn.btn-primary.landingbutton {
  height: 100%;
  width: 20rem;
  font-size: 30px;
  font-family: 'Assistant';

}


.btn.btn-primary.learnbutton {
  height: 100%;
  width: 12rem;
  font-size: 22px;
  font-family: 'Assistant';

}


.btn.btn-primary.communitybutton {
  height: 100%;
  width: 12rem;
  font-size: 22px;
  font-family: 'Assistant';

}

.footerIcon {
  align-items: center;
  height: 45px;
  width: 45px;

}


.footerIconMiddle {
    margin-left: 3%;
}

.footerSimple {
  margin-bottom: -50%;
}

.job-box {
  height: 275px;
}
